<head>
  <!-- google scripts-->
  {{- partial "head/google-scripts.html" -}}
  <!-- End google scripts-->

  <!-- Meta -->
  {{- partial "head/index-meta.html" -}}

  <link rel="icon" href="/images/favicon.png" />

  <!-- CSS -->
  {{- partial "head/index-css.html" -}}

  <!-- Facebook Pixel Code -->
  {{- partial "head/fb-pixel.html" -}}
  <!-- End Facebook Pixel Code -->

  <!-- Hotjar Tracking Code for www.pragmaticdlt.com -->
  {{- partial "head/hotjar-script-head.html" -}}
  <!-- End Hotjar Tracking Code for www.pragmaticdlt.com -->

  <!--Intercassa verification-->
  <!--Was used for PDLT ETH Academy course paymnet-->
  <!--meta name="interkassa-verification" content="d31056d1db199075ef9ef527cb8caf55"/-->

  <!-- Clutch.co -->
  {{- partial "head/clutch-script-head.html" -}}
  <!-- End Clutch.co -->
</head>
