<meta charset="UTF-8" />
<meta
  name="description"
  content="Gain the insights to achieve your most ambitious goals. || Pragmatic DLT" />
<meta name="author" content="Max Martyn || Pragmatic DLT" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta
  name="keywords"
  content="ethereum developers, smart contracts developers, ERC20 tokens, token sales smart contracts, blockchain developers" />

<title>Insights || Pragmatic DLT. Blockchain development and consulting.</title>
