<header>
  <nav class="content">
    <a href="index.html" class="logo">
      <img
        src="/images/logo.svg"
        alt="Pragmatic DLT. Blockchain Development and Consulting" />
      <h1 class="logo-text">pragmatic<br /><span>dlt</span></h1>
    </a>

    <div class="menu">
      <!--a href="onlineacademy.html">Academy</a-->
      <a href="/index.html#service-offering">Services</a>
      <a href="/insights" class="active">Insights</a>
      <a href="/index.html#team">About</a>
      <button class="contact-us">Free Quote</button>
    </div>

    <div class="mobile-menu">
      <button class="menu-button">
        <img src="/images/menu.svg" alt="Menu" />
      </button>

      <div>
        <!--a href="onlineacademy.html">Academy</a-->
        <a href="index.html#service-offering">Services</a>
        <a href="insights.html" class="active">Insights</a>
        <a href="index.html#team">About</a>
        <hr />
        <button class="contact-us">Free Quote</button>
      </div>
    </div>
  </nav>
</header>
