<section class="insights">
  <h1 class="heading">Insights</h1>

  <div class="content">
    <a
      href="/insights/setup_ethereum"
      class="insight"
      style="
        background-image: url('./images/insights/setupclique/thumbnail.png');
      ">
      <h3>Setup private Ethereum network in cloud</h3>
      <p>
        This insight is a step by step guide how to launch private Ethereum
        network. It is a great starting point to start experiments and play with
        different setup and configuration options for your specific needs (block
        creation time, number of nodes per availability zone, block target gas
        limit, etc...).
      </p>

      <span>READ MORE</span>
    </a>
    <a
      href="/insights/blockchain"
      class="insight"
      style="background-image: url('./images/insights/hireteam/thumbnail.png')">
      <h3>How to hire blockchain team</h3>
      <p>
        Tina and her team did an ICO in May. They hit the hard cap of $12m and
        celebrated success, taking a few weeks' break from the rush. After the
        dust settled and founders' LinkedIn cooled down from the overwhelming
        flow of 'kudos' and business offers, the team sat in the office to plan
        the next steps.
      </p>

      <span>READ MORE</span>
    </a>
  </div>
</section>
