<section class="partners">
  <h1 class="heading">Pragmatic Partners</h1>
  <div class="content">
    <img
      src="/images/partners/scaling-ventures.png"
      alt="Scaling Ventures to blockchain software integration" />
    <img
      src="/images/partners/hacken.png"
      alt="Hacken to blockchain software integration" />
    <img src="/images/partners/icofortress.png" alt="ICO Fortress" />
    <img
      src="/images/partners/digital_ocean.png"
      alt="Digital Ocean to blockchain software integration" />
    <img
      src="/images/partners/upwork.png"
      alt="Upwork to blockchain software integration" />
    <img
      src="/images/partners/alchemy.png"
      alt="Alchemy to blockchain software integration" />
    <img
      src="/images/partners/stripe.png"
      alt="Stripe to blockchain software integration" />
    <img
      src="/images/partners/infura.png"
      alt="Infura to blockchain software integration" />
  </div>
</section>
