<section class="team" id="team">
  <div class="content">
    <h1 class="heading">Core team</h1>

    <section class="team-members">
      <article class="team-member">
        <img src="./images/team/Stan.png" alt="Stanislav Komarovskyi" />
        <div class="info">
          <div class="badge">
            <h5>Stanislav Komarovskyi</h5>
            <h6>CEO</h6>

            <button class="read-more">read more</button>
          </div>

          <div class="bio">
            <p>
              Being a good CEO, Stan’s utmost focus is clients, especially those
              who share our pragmatic vision. “Ignore the hype and focus on your
              business” and “Be ready for brutal honesty” Stan likes to say.
              <br /><br />

              Stan’s range of professional interests is diverse. He was M&A
              consultant at Deloitte and CFO at Canadian based BioTech startup.
              Now he joined Pragmatic DLT to build blockchain software
              development company. Why not?
              <br /><br />

              He promotes “citizen of the world” concept - thus, we have clients
              from all over the world. As simple as that.
            </p>

            <button class="read-more">hide</button>
          </div>
        </div>
      </article>

      <article class="team-member">
        <img src="./images/team/Mike.png" alt="Mikhail Popcuk" />
        <div class="info">
          <div class="badge">
            <h5>Michael Popchuk</h5>
            <h6>COO</h6>

            <button class="read-more">read more</button>
          </div>

          <div class="bio">
            <p>
              Mike is the guy responsible for making things happen. Thanks to
              his 10+ years of experience in software delivery, PDLT is
              continuously delivering on their promises.
              <br /><br />
              Before Pragmatic DLT, Mike was a transformation consultant for
              digitally enabled businesses, mostly in Europe and the Middle
              East. Lately joined one of Sports Betting and Gaming clients to
              ramp up Professional Services organization.
              <br /><br />
              “It always seems impossible until it's done”, a saying Mike likes
              to repeat.
            </p>

            <button class="read-more">hide</button>
          </div>
        </div>
      </article>

      <article class="team-member">
        <img src="./images/team/Artem.png" alt="Artem Oleshko" />
        <div class="info">
          <div class="badge">
            <h5>Artem Oleshko</h5>
            <h6>CTO</h6>

            <button class="read-more">read more</button>
          </div>

          <div class="bio">
            <p>
              Good CTO is hands-on CTO, so Artem is. He is the type of guy who
              digs deep until finds the essence of things. That’s how he found
              himself playing around with blockchain technologies trying to
              understand what the buzz is about.
              <br /><br />

              “Java, JS, Solidity, microservices, dapps, DLT, event sourcing,
              containerization“ is the tag cloud of Artem’s skills. He dedicates
              evenings and Saturday’s to our Academy to share his knowledge.
              <br /><br />

              “Simplify until you die” is Artem’s motto. We like the motto as we
              feel blockchain field is artificially overcomplicated which is not
              good for its business adoption.
            </p>

            <button class="read-more">hide</button>
          </div>
        </div>
      </article>

      <article class="team-member">
        <img src="./images/team/Andriy.png" alt="Andriy Chernysh" />
        <div class="info">
          <div class="badge">
            <h5>Andriy Chernysh</h5>
            <h6>Chief Architect</h6>

            <button class="read-more">read more</button>
          </div>

          <div class="bio">
            <p>
              Keep It Simple, but still Smart - this is the rule Andriy follows
              in his daily professional activities. Andriy has hands-on
              experience in a Software design which he got by building small and
              mid-size projects in different domains as an architect. Being a
              huge fan of Microservices and different ways of communication
              between distributed services, he fell in love with blockchain
              concepts from the first look. Java, Big Data,
              Synchronous/Asynchronous communication, Continuous development and
              delivery processes and many other technical things are in Andriy’s
              professional arsenal to help him lead a project to success.
            </p>

            <button class="read-more">hide</button>
          </div>
        </div>
      </article>

      <article class="team-member">
        <img src="./images/team/Max.png" alt="Max Martyn" />
        <div class="info">
          <div class="badge">
            <h5>Max Martyn</h5>
            <h6>Solidity Lead</h6>

            <button class="read-more">read more</button>
          </div>

          <div class="bio">
            <p>
              Max supposed to be a mechanical engineer, but vocation to be
              software development won. Nevertheless, he is the true believer in
              an engineering approach and he applies it to everything we do.
              <br /><br />

              We like Max's relentless concentration on solving business
              problems which is a rare skill for software engineers. Max is
              inefficiency killer, his credo is “work smart, not hard”.
            </p>

            <button class="read-more">read more</button>
          </div>
        </div>
      </article>

      <article class="team-member">
        <img src="./images/team/Vasyl.png" alt="Vasyl Makuha" />
        <div class="info">
          <div class="badge">
            <h5>Vasyl Makukha</h5>
            <h6>Head of Design</h6>

            <button class="read-more">read more</button>
          </div>

          <div class="bio">
            <p>
              Vasyl is the strong believer that a good design aims to solve
              particular problems, not just to make the world beautiful. Vasyl
              brought such concepts as a data-driven approach, fast feedback
              loop and customer interviews - sounds pretty pragmatic for
              creative thinker.
              <br /><br />

              Vasyl’s mission is to prove that B2B is a good place for design.
            </p>

            <button class="read-more">hide</button>
          </div>
        </div>
      </article>

      <article class="team-member">
        <img src="./images/team/Bo.png" alt="Bo Pikul" />
        <div class="info">
          <div class="badge">
            <h5>Bo Pikul</h5>
            <h6>Head of Supply Chain Practice</h6>
          </div>
        </div>
      </article>
    </section>
  </div>
</section>
