<section class="service-offering" id="service-offering">
  <div class="content">
    <h1 class="heading">Service offering</h1>

    <div class="offering-schema">
      <div class="pointers">
        <img
          src="/images/services/pointer.svg"
          alt="Pointer from first offer to second" />
        <img
          src="/images/services/pointer.svg"
          alt="Pointer from second offer to third" />
        <img
          src="/images/services/fancy-pointer.svg"
          alt="Pointer from third offer to fourth" />
      </div>

      <section class="offers">
        <article class="offer">
          <img
            src="/images/services/solution-discovery.png"
            alt="Solution discovery session" />

          <div>
            <h3>1. Solution discovery session <span>(3-5 days)</span></h3>
            <p>
              A set of intense sessions to draft out an architecture of the
              future solution, outline main hypothesis and risks, and develop
              the first version of solution development roadmap. One may need
              this when there is the vision of the solution and a need to
              clarify technical scope, limitations and plan for the project.
            </p>
          </div>

          <div class="deliverable">
            <h5>Deliverable</h5>
            <ul>
              <li>Solution document</li>
              <li>Roadmap</li>
            </ul>
          </div>

          <button class="read-more">read more</button>
        </article>

        <div class="mobile-pointer"></div>

        <article class="offer">
          <img src="/images/services/poc.png" alt="Proof of concept" />
          <div>
            <h3>2. Proof of concept <span>(2-4 weeks)</span></h3>
            <p>
              The phase of iterative research and development, focused on
              validation of hypothesis and assumptions to clarify the solution
              project plan. One may need it when there is a clear technical
              picture outlined, though there are hypothesis and assumptions that
              brings too much variability in plans.
            </p>
          </div>
          <div class="deliverable">
            <h5>Deliverable</h5>
            <ul>
              <li>Code on GitHub</li>
              <li>Validated Hypothesis</li>
            </ul>
          </div>

          <button class="read-more">read more</button>
        </article>

        <div class="mobile-pointer"></div>

        <article class="offer">
          <img src="/images/services/mvp.png" alt="Minimal viable product" />

          <div>
            <h3>3. Minimum viable product <span>(3-4 month)</span></h3>
            <p>
              The SWAT team, escorting your project, develops a minimum viable
              product. One may need it when there is a clear picture of the
              project outlined, and there is a need for a viable product to be
              published promptly.
            </p>
          </div>

          <div class="deliverable">
            <h5>Deliverable</h5>
            <ul>
              <li>Live Demo</li>
            </ul>
          </div>

          <button class="read-more">read more</button>
        </article>

        <div class="mobile-pointer"></div>

        <article class="offer">
          <img src="/images/services/development.png" alt="Development" />
          <div>
            <h3>4. Iterative Development</h3>
            <p>
              The SWAT Team sets up Client's development team, gradually
              transferring the knowledge from the prior phases. One may need it
              when there is a lack of DLT/Blockchain expertise and one need to
              start developing quickly.
            </p>
          </div>

          <div class="deliverable">
            <h5>Deliverable</h5>
            <ul>
              <li>New features</li>
              <li>3rd party integrations</li>
              <li>Product enhancement</li>
            </ul>
          </div>

          <button class="read-more">read more</button>
        </article>
      </section>
    </div>
  </div>
</section>
