<footer>
  <div class="content">
    <section>
      <a href="index.html" class="logo">
        <img src="/images/logo.svg" alt="Pragmatic DLT" />
        <h1 class="logo-text">pragmatic<br /><span>dlt</span></h1>
      </a>

      <section class="socials">
        <a
          href="https://www.facebook.com/pragmaticDLT/"
          target="_blank"
          rel="noopener"
          ><img src="/images/footer/facebook.svg" alt="Facebook"
        /></a>
        <a
          href="https://www.linkedin.com/company/pragmatic-dlt/"
          target="_blank"
          rel="noopener"
          ><img src="/images/footer/linkedin.svg" alt="LinkedIn"
        /></a>
        <a href="https://medium.com/pragmaticdlt" target="_blank" rel="noopener"
          ><img src="/images/footer/medium.svg" alt="Medium"
        /></a>
        <a
          href="https://twitter.com/PragmaticDLT"
          target="_blank"
          rel="noopener"
          ><img src="/images/footer/twitter.svg" alt="Twitter"
        /></a>
      </section>

      <div class="badges">
        <div
          class="clutch-widget"
          data-url="https://clutch.co"
          data-widget-type="2"
          data-height="50"
          data-clutchcompany-id="629361"></div>
        <a
          target="_blank"
          href="https://www.goodfirms.co/companies/view/11381/pragmatic-dlt-inc">
          <img
            style="width: 180px"
            src="https://goodfirms.s3.amazonaws.com/badges/white-button/list-blockchain-technology-companies.svg"
            alt="GoodFirms Badge" />
        </a>
      </div>
    </section>

    <section>
      <nav>
        <a href="/privacy.html">Privacy Policy</a>
      </nav>

      <a href="mailto:hello@pragmaticdlt.com" class="email"
        >hello@pragmaticdlt.com</a
      >

      <section class="offices">
        <article>
          <h6>United States</h6>
          <p>8 The Green, STE 4000 Dover, DE 19901</p>
        </article>

        <article>
          <h6>Canada</h6>
          <p>1077 College Str., Unit 1, Toronto, ON M6H 1B4</p>
        </article>

        <article>
          <h6>Ukraine</h6>
          <p>Lift99 Kyiv Hub, Volodymyrska St, 101, Kyiv, 02000</p>
        </article>
      </section>

      <p>
        © 2023 Pragmatic DLT Inc. All rights reserved. Pragmatic DLT, the
        Pragmatic DLT logo are trademarks of Pragmatic DLT Inc.<br />
        Registered office: 1077 College Str., Unit 1, Toronto, ON M6H 1B4,
        Canada.
      </p>
    </section>
  </div>
</footer>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/js/clamp.min.js"></script>
<script src="/js/navigation.js"></script>
<script src="/js/index.js"></script>
