<header>
  <nav class="content">
    <a href="index.html" class="logo">
      <img
        src="./images/logo.svg"
        alt="Pragmatic DLT. Blockchain Development and Consulting" />
      <h1 class="logo-text">pragmatic<br /><span>dlt</span></h1>
    </a>

    <div class="menu">
      <!--a href="onlineacademy.html">Academy</a-->
      <a href="#service-offering">Services</a>
      <a href="./insights">Insights</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#about-us">About</a>
      <button class="contact-us">Free Quote</button>
    </div>

    <div class="mobile-menu">
      <button class="menu-button">
        <img src="./images/menu.svg" alt="Menu" />
      </button>

      <div>
        <a href="#service-offering">Services</a>
        <a href="./insights">Insights</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#about-us">About</a>
        <!--a href="onlineacademy.html">Academy</a-->
        <hr />
        <button class="contact-us">Free Quote</button>
      </div>
    </div>
  </nav>
</header>
