{{ define "main" }}
<!-- Illustration -->
{{- partial "sections/section-illustration"}}

<!-- Offers-->
{{- partial "sections/section-service-offering" -}}

<!-- About Us-->
{{- partial "sections/section-about-us"}}

<!-- Insights-->
{{- partial "sections/section-insights"}}

<!-- Portfolio-->
{{- partial "sections/section-portfolio"}}

<!-- Partners-->
{{- partial "sections/section-partners"}}

<!-- Team-->
{{- partial "sections/section-team"}}

<!-- Contact Us-->
{{- partial "sections/section-contact-us"}}

<!-- End of Main -->
{{ end }}
